# Ignore build outputs & dependencies
node_modules/
dist/
dist-ssr/
*.local


# Ignore OS & Editor Files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
logs/
*.log

# Ignore development source files and configs not needed to run the website
src/
docs/
scripts/
tsconfig.json
package.json
package-lock.json
vite.config.ts
server.js
